* {
	box-sizing: border-box;
}

body {
	font-size: 25px;
	font-weight: bold;
}

div {
	text-align: center;
	margin: 20px;
}

button {
	background-color: orange;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-color: black;
	border-radius: 100%;
}

span {
	margin: 50px;
	padding: 50px;
	display: inline-block;
	background-color: orange;
	border-style: solid;
	border-color: black;
	border-radius: 100%;
}